.footer{
    background: var(--secondaryColor);
}
.sectionContainer{
    gap: 2.5rem;
}

.sectionContainer .gridOne{
    gap: 1rem;
    justify-content: center;
    margin: auto;
}
         
.logoDiv .logo{
    width: 20%;
}
            
.socialIcon{
    margin-top: 1rem;
    gap: 1rem;
}

.socialIcon .icon{
    height: 50px;
    width: 30px;
    border-radius: 10rem;
    border: 1px solid var(--borderColor);
    box-shadow: var(--box-shadow);
    padding: .4rem;
    color: var(--greyText);
}

.icon:hover{
    background: var(--primaryColor);
    transform: translateX(-7px);
    transition: var(--transition);
    border: 1px solid var(--primaryColor);
    color: var(--whiteColor);
}
                
.footer-links{
    display: grid;
}

.footer-links .linkTitle{
    color: var(--blackColor);
    font-weight: 500;
    display: block;
    padding-bottom: 1rem;
}

li a{
    display: block;
    padding: .3rem;
    color: var(--greyText);
    transition: var(--transition);
}

li a:hover{
    transform: translateX(-7px);
    color: var(--colorOne);
 }
            
.copyRight{
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid var(--greyText);
    text-align: center;
}

@media screen and (max-width:570px){
        .footer .sectionContainer{
                padding-top: 1rem;
                flex-direction: column;
            }
    }
